@charset "utf-8";
.links {
    position: absolute;
}
.main_links {
    height: 40px;
    top: 35px;
    background-size: 55px;
}
.other_links {
    height: 35px;
    top: 80px;
}
.main_links * {
    font-size: 2em;
    top: 2px;
}
.other_links * {
    font-size: 1.5em;
    top: 2px;
}
.links *:hover {
    top: 5px;
}
.social_box {
    position: absolute;
    top: 5px;
}
#space2 {
    height: 125px;
}
.fa-2x {
    font-size: 1.5em;
}
.anchor {
    top: 0px;
}